html, body{
    margin: 0;
    height: 100%;
}

/* من الخواص التي يجب تغيرها لكي تصل للمطلوب
    1. لون الخلفيه
    2. الطول والعرض
    3. الهوامش
    4. الحواشي
    5. نوع العرض
    6. border radius */

/* عند الحاجه w3schools قم بالاستعانه بموقع  */
.bottom {
    display: flex;
    padding: 0px;
    height: 100%;
}
.sidebar{
    /* pxالعرض هنا يجب ان يكون 120 */
    width: 120px;
    background-color: black;
    height: 100%;
    margin-bottom: 0px;
    padding: 0px;
}

.header{
    /* pxالطول هنا يجب ان يكون 80 */
    height: 80px;
    background-color: blanchedalmond;
    font-size: 11px;
    margin-left: 8px;
}

.main{
    background-color: chocolate;
    height: 84%;
    margin-top: 8px;
    margin-left: 8px;
   

}

a{
    color: darkgray;
    /* اجعل شكل اللنك من غير خط اسفل الكلام */
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

a:hover {
    color: white;
    transform: scale(1.1);
}

/* !بــونص */
/* (hover) اجعل اللنك يتغير لونه الى الابيض عند التأشير عليه */
/* (p) غير محاذاة الفقرات لتصبح بالوسط */



h1{
    margin: 0;
    margin-right: 5px;
}

h2{
    margin: 0;
    margin-left: 5px;
    color: white;
}
.right {
    height: 100%;
    margin-bottom: 0px;
    padding: 0px;
}
p {
    margin: 0;
    text-align: center;
}
